.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.transparent-input::placeholder {
  color: white !important;
}

.transparent-background-hover:hover {
  background: rgba(175, 175, 175, 0.25);
}

.transparent-background-hover-2:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.flip-horizontal {
  display: inline-block;
  /* Inline elements cannot be transformed */
  transform: scaleX(-1);
}

.scrollbox {
  overflow: auto;
  visibility: hidden;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbox::-webkit-scrollbar {
  width: 10px;
}

.scrollbox-content,
.scrollbox:hover {
  visibility: visible;
}

.scrollbar-invisible::-webkit-scrollbar {
  visibility: hidden;
}

.btn-custom {
  background-color: rgb(221, 222, 225);
  border: rgba(43, 48, 54, .8);
  border: 2px;
  border-radius: 8px;
  padding: 8px 0;
}

.btn-custom:hover {
  background-color: rgb(216, 217, 220);
}

.circle-element {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Garante que o container seja circular */
}

.rainbow-border {
    /* Criamos a borda usando background */
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) border-box;
    border: 3px solid transparent;
}
