.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.transparent-input::placeholder {
  color: white !important;
}

.transparent-background-hover:hover {
  background: rgba(175, 175, 175, 0.25);
}

.transparent-background-hover-2:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.flip-horizontal {
  display: inline-block;
  /* Inline elements cannot be transformed */
  transform: scaleX(-1);
}

.scrollbox {
  overflow: auto;
  visibility: hidden;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbox::-webkit-scrollbar {
  width: 10px;
}

.scrollbox-content,
.scrollbox:hover {
  visibility: visible;
}

.scrollbar-invisible::-webkit-scrollbar {
  visibility: hidden;
}