* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.lighterText {
    color: rgba(75, 75, 75, 0.9);
}